$cmp: ".schedule-section";

#{$cmp} {
  &__page-title {
    border-bottom: 2px solid $bg-second-color;
    color: $main-six-text-color;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.4;
    margin-bottom: 16px;
  }

  &__time-frame {
    display: flex;
    flex-wrap: nowrap;
    height: 37px;

    & > button.active {
      color: $main-white-text-color;
    }
  }

  &__time-frame-button {
    color: $main-text-color;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    width: 22%;
    border: 1px solid $bg-five-color;
    cursor: pointer;

    &:last-child {
      width: 34%;
    }

    &.active {
      background-color: $bg-main-color;
      border: 1px solid $bg-main-color;

      /* DayPicker custom styles */

      .DayPickerInput > input {
        background-color: $bg-main-color;
        color: $main-white-text-color;

        &::-webkit-input-placeholder {
          color: $main-white-text-color;
        }
      }

      /* react-select custom styles */

      .css-1uccc91-singleValue, .css-1wa3eu0-placeholder {
        color: $main-white-text-color;
      }
      .css-b8ldur-Input, .css-1hwfws3, .css-1pahdxg-control, .css-yk16xz-control {
        background-color: $bg-main-color;
      }
    }
  }

  &__date {
    height: 33px;
    background-color: $bg-fifteen-color;

    p {
      color: $main-white-text-color;
      line-height: 33px;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
    }
  }

  &__match-center {
    display: none;

    &.active {
      display: block;
    }
  }

  &__match-center-title {
    display: flex;
    height: 33px;
    background-color: $bg-main-color;

    div {
      text-align: center;
      color: #ffffff;
      font-size: 16px;
      line-height: 33px;
      font-weight: 400;
      width: 25%;

      &:last-child {
        width: 75%;
      }
    }
  }

  &__match-center-match {
    height: 104px;
    border: 1px solid $bg-four-color;
    background-color: $bg-lighter-color;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    padding: 0 5px;
  }

  &__tournament-logo {
    width: 25%;
    text-align: center;
  }

  &__tournament-logo-image {
    height: 33px;
  }

  &__date-match {
    color: $main-seven-text-color;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
  }

  &__play-time {
    width: 75%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }

  &__time {
    display: flex;
    flex-wrap: wrap;
    margin: 0 15px;
    width: 30%;
    justify-content: center;
  }

  &__versus-time {
    width: 100%;
    display: flex;
    justify-content: center;
    p {
      color: $main-white-text-color;
      font-size: 18px;
      background-color: $bg-seven-color;
      padding: 6px 15px;

      &:first-child {
        margin-right: 7px;
      }
    }
  }

  &__gmt-time {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5px;

    p {
      color: $main-fifteen-text-color;
      font-size: 16px;
      text-transform: uppercase;
    }
  }

  &__home-team, &__guest-team {
    display: flex;
    align-items: center;
    width: 35%;
    justify-content: center;
  }

  &__home-team-image, &__guest-team-image {
    height: 30px;
    margin: 0 10px;
  }

  &__home-team-name, &__guest-team-name {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

}

@media #{$mediaTablet} {
  #{$cmp} {

  }
}

@media #{$mediaMobile} {
  #{$cmp} {
    &__match-center-match {
      height: 85px;
    }

    &__match-center-title {
      div:first-child {
        display: none;
      }
      div:last-child {
        width: 100%;
      }
    }

    &__tournament-logo {
      display: none;
    }

    &__play-time {
      width: 100%;
    }

    &__home-team-image, &__guest-team-image {
      display: none;
    }

    &__time {
      margin: 0 6px;
      width: 25%;
    }

    &__time-frame-button {
      font-size: 14px;
      width: 100%;
      padding: 0 5px;
      height: 39px;

      &:last-child {
        width: 100%;
      }
    }

    &__time-frame {
      flex-wrap: wrap;
      height: auto;
    }
  }
}

