.top-rating-news-block {
  width: 277px;

  .top-rating-news-block__title {
    background-color: $bg-second-color;
    padding: 8px 0;

    h4 {
      color: $main-white-text-color;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
    }
    .top-rating-news-block__title-link {
      display: none;
    }
  }

  .top-rating-news-block__list {
    padding: 0 15px;
    border: 1px solid $bg-four-color;
    background-color: $bg-lighter-color;

    .top-rating-news-block__list__item {
      border-bottom: 1px solid $bg-four-color;
      padding: 20px 0;

      &:last-child {
        border-bottom: none;
      }

      a {
        color: $main-six-text-color;
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 5px;
        display: inline-block;
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .top-rating-news-block__info {
        color: $main-text-color;
        font-size: 12px;
        font-weight: 400;
        display: flex;
        align-items: center;

        img {
          height: 10px;
          margin-right: 10px;
        }

        .source-web {
          border-left: 1px solid #d1cfd3;
          border-right: 1px solid #d1cfd3;
          padding: 0 14px 0 6px;
          margin: 0 7px 0 6px;
          display: inline-block;
          max-width: 100px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

@media only screen and (max-width: $deviceWidth) {
  .top-rating-news-block {
    width: 100%;
    .top-rating-news-block__title {
      padding: 0 0 0 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h4 {
        font-size: 22px;
        text-align: left;
      }
      .top-rating-news-block__title-link {
        display: block;
        padding: 30px;
        background-color: $bg-main-color;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          right: 26px;
          top: 22px;
          bottom: 0;
          transform: rotate(45deg);
          width: 16px;
          height: 16px;
          border-right: 2px solid $bg-white-color;
          border-top: 2px solid $bg-white-color;
        }
      }
    }

    .top-rating-news-block__list {

      .top-rating-news-block__list__item {

        &:last-child {
        }

        a {
          font-size: 18px;
          display: inline-block;
          max-width: 100%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .top-rating-news-block__info {
          font-size: 16px;

          img {
            height: 18px;
            margin-right: 18px;
          }

          .source-web {
            max-width: inherit;
            margin-right: 20px;
          }
        }
      }
    }
  }
}