.thumb-vertical {
  background-color: $bg-seven-color;
  cursor: pointer;
  border-radius: inherit;
}

.track-vertical {
  position: absolute;
  width: 5px!important;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 3px;
  background-color: $bg-four-color;
}
