.hp-main-block {
	padding-top: 85px;

	.main-section-wrapper {
		display: flex;
		justify-content: space-between;

		.news-section {
			width: 845px;
		}

		.table-right-section {
			margin-top: 25px;
			width: 278px;
		}
	}
}

@media only screen and (max-width: $deviceWidth) {
	.hp-main-block {
		padding-top: 105px;

		.main-section-wrapper {
			display: flex;
			flex-direction: column;

			.news-section {
				width: 100%;
			}

			.table-right-section {
				margin-top: 25px;
				width: 100%;
			}
		}
	}
}